<div class="row">
  <div class="col-sm-4">
    <table class="table">
      <tr>
        <td><img src="<%= gravatar_url(@user, { size:100 }) %>" alt=""></td>
        <td class="text-left"><h4><%= @user.name %></h4></td>  
      </tr>
      <tr>
        <td class="strong"><h3>email:</h3></td>
        <td class="text-left"><h4><%= @user.email %></h4></td>
      </tr>
      <tr>
        <td><%= link_to image_tag("love-book-128.png", class:"book-logo"), "#" %></td>
        <td class="text-left"><a href="#"><h3>your original book!</h3></a></td>
      </tr>
    </table>
  </div>
</div>