<div class="jumbotron jumbotron-fluid mb-0">
  <div class="text-center">
    <%= link_to "Signup", new_user_path, class: "btn btn-main btn-lg"%>
    <a class="btn btn-main btn-lg" href="#" role="button">Login</a>
    <h4 class="mt-4">自分だけのオリジナル単語帳を作成しよう！</h4>
  </div>  
</div>
<nav class="navbar navbar-expand-sm navbar-dark text-center">
  <h3 class="text-center">How To</h3>
</nav>