<div class="jumbotron jumbotron-fluid mb-0">
  <div class="text-center">
    <% if logged_in? %>
      <h1>ようこそ！<%= current_user.name %></h1>
    <% else %>
      <%= link_to "Signup", new_user_path, class: "btn btn-primary btn-toppage btn-lg" %>
      <%= link_to "Login", login_path, class: "btn btn-primary btn-toppage btn-lg" %>
    <% end %>
    <h4 class="mt-4">自分だけのオリジナル単語帳を作成しよう！</h4>
  </div>  
</div>
<h2 class="bar">How To</h2>
<div class="howto-container">
  <div class="left">
    <div class="box-left"></div>
    <div class="box-center"></div>
    <div class="box-right"></div>
  </div>
  <div class="right">
    
  </div>
</div>
