<div class="jumbotron jumbotron-fluid mb-0">
  <div class="text-center">
    <% if logged_in? %>
      <h1><%= current_user.name %>, welcome!</h1>
    <% else %>
      <%= link_to "Signup", new_user_path, class: "btn btn-primary btn-toppage btn-lg" %>
      <%= link_to "Login", login_path, class: "btn btn-primary btn-toppage btn-lg" %>
    <% end %>
    <h4 class="mt-4">自分だけのオリジナル単語帳を作成しよう！</h4>
  </div>  
</div>
<h2 class="bar">How To</h2>
<div class="howto-container">
  <div class="howto-container-left">
    <div class="howto-container-left-lbox ml-4">
      <h3>STEP1♪</h3>
      <p>覚えたい単語を登録してみましょう！</p>
      <p>オリジナル単語帳を作成できます</p>
    </div>
    <div class="howto-container-left-cbox">
      <h3>STEP2♪</h3>
      <p>他の人が登録した単語も閲覧できます</p>
      <p>お気に入りすることで自分の単語帳に追加も可能です</p>
    </div>
    <div class="howto-container-left-rbox">
      <h3>STEP3♪</h3>
      <p>登録した単語帳から問題集を作成できます</p>
      <p>問題集を解くことでより覚えやすくなります</p>
    </div>
  </div>
  <div class="howto-container-right">
  </div>
</div>
<h2 class="bar">View</h2>

<%= render "layouts/view_page" %>
