<footer>
  <div class="container">
    <h4>Olive</h4>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li></li>
      <li></li>
    </ul>
    <p>© 2019 Original Word Book.</p>
  </div>
</footer>